{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <h1>les Domaines de skis</h1>
    <p>
        Bienvenue sur la page des domaines de skis

    </p>
    {% if admin == true %}
        <a href="{{ path('domaine_new') }}">Ajouter un domaine</a>
    {% endif %}
    {% for domaines in domaine  %}
        <div>
            <h3>{{ domaines.name }}</h3>
            <img src="uploads/images/{{ domaines.image }}" alt="image de la station" width="200" height="200">

            <a href="{{ path('app_edit', {'id': domaines.id}) }}">voir la station</a>
        </div>

    {% endfor %}
{% endblock %}
