{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url('/assets/image/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
        form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
            margin: 150px auto 0 auto;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            display: block;
            width: 95%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            color: #333;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            cursor: pointer;
        }
        .bodys{
            padding-top : 110px;
            height: auto;
        }
    </style>
    <div class="bodys">
    <h1>les Domaines de skis</h1>
    <p>
        Bienvenue sur la page des domaines de skis
    </p>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
    {{ form_end(form) }}

    </div>
{% endblock %}
