{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <h1>les Domaines de skis</h1>
    <p>
        Bienvenue sur la page des domaines de skis
    </p>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
    {{ form_end(form) }}
{% endblock %}
