{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url('/assets/image/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
        form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
            margin: 150px auto 0 auto;
            margin-top:0;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            display: block;
            width: 95%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            color: #333;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
            cursor: pointer;

        }
        .form{
            height: 200px;
        }
    </style>
    <h1>Ajouter des pistes ou des remontées</h1>
    <div class="form">
        <h3> Ajout de pistes</h3>
        <form method="post" action="{{ path('add_pistes' , {id: id}) }}">
            <input name="name" type="text">
            <input name="difficulte" type="text">
            <input name="submit" type="submit" value="Envoyer">

        </form>
    </div >
    <div class="form">
        <h3> Ajout de remontées</h3>
        <form method="post" action="{{ path('add_remontees' , {id: id}) }}">
            <input name="name" type="text">
            <input name="submit" type="submit" value="Envoyer">

        </form>


{% endblock %}
