{% extends 'base.html.twig' %}

{% block body %}
    <div class="mountain">
        <svg viewBox="0 0 1200 800" xmlns="http://www.w3.org/2000/svg">
            <mask id="m">
                <g class="cloud1">
                    <rect fill="#fff" width="100%" height="801" y="799" />
                    <image xlink:href="https://assets.codepen.io/721952/cloud1Mask.jpg" width="1200" height="800"/>
                </g>
            </mask>

            <image class="sky" xlink:href="https://assets.codepen.io/721952/sky.jpg"  width="1200" height="590" />
            <image class="mountBg" xlink:href="https://assets.codepen.io/721952/mountBg.png" width="1200" height="800"/>
            <image class="mountMg" xlink:href="https://assets.codepen.io/721952/mountMg.png" width="1200" height="800"/>
            <image class="cloud2" xlink:href="https://assets.codepen.io/721952/cloud2.png" width="1200" height="800"/>
            <image class="mountFg" xlink:href="https://assets.codepen.io/721952/mountFg.png" width="1200" height="800"/>
            <image class="cloud1" xlink:href="https://assets.codepen.io/721952/cloud1.png" width="1200" height="800"/>
        </svg>
    </div>
    <!---============= home section start============== -->
    <section class="home" id="home">
        <div class="pos">
            <div class="max-width">
                <div class="home-content">
                    <div class="text-1">
                        Bienvenu sur  </div>
                    <div class="text-2">
                        Peak Explorer</div>
                    <div class="text-3">
                        Nous sommes a votre <span class="typing"></span></div>
                    <a href="#">Decouvrir</a>
                </div>
            </div>
            <div class="home-image">
                <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/loisirs/sorties/dossiers/les-stations-de-ski-huppees/19922242-1-fre-FR/Les-stations-de-ski-huppees.jpg" alt="">
            </div>
        </div>
        <div class="pos">
            <div class="max-width">
                <div class="home-content">
                    <div class="text-1">
                        Salut, Mon nom est </div>
                    <div class="text-2">
                        Maximus</div>
                    <div class="text-3">
                        Et je suis un <span class="typing"></span></div>
                    <a href="#">POV</a>
                </div>
            </div>
            <div class="home-image">
                <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/loisirs/sorties/dossiers/les-stations-de-ski-huppees/19922242-1-fre-FR/Les-stations-de-ski-huppees.jpg" alt="">
            </div>
        </div>
        <div class="pos">
            <div class="max-width">
                <div class="home-content">
                    <div class="text-1">
                        Salut, Mon nom est </div>
                    <div class="text-2">
                        Maximus</div>
                    <div class="text-3">
                        Et je suis un <span class="typing"></span></div>
                    <a href="#">POV</a>
                </div>
            </div>
            <div class="home-image">
                <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/loisirs/sorties/dossiers/les-stations-de-ski-huppees/19922242-1-fre-FR/Les-stations-de-ski-huppees.jpg" alt="">
            </div>
        </div>

    </section>

    <!-- ===============about section start=============== -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">    A Propos de moi</h2>

            <div class="about-content">
                <div class="column left">
                    <img src="https://www.belambra.fr/les-echappees/wp-inside/uploads/2019/10/choisir-station-ski.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">
                        Je suis le Lynx de Boréal <span class="typing-2"></span>
                    </div>
                    <p>
                        Je suis un félin sauvage et j'habite les
                        forestières et montagneuses de l'hémisphère
                        nord, y compris l'Europe, l'Asie et l'Amérique du Nord.
                        Je suis présent dans les Alpes en France et je me
                        caractérise par mon pelage épais, qui varie
                        du gris clair au roux foncé, et par mes
                        oreilles triangulaires avec des touffes
                        de poils noirs à l'extrémité.Je suis l'un des
                        prédateurs solitaires qui chassent principalement
                        les lièvres, les lagopèdes et les rongeurs,
                        pouvant également s'attaquer à des proies plus
                        grosses telles que les cerfs.
                        Bien que ma population soit en déclin dans certaines
                        régions, mon espèce est considérée comme une espèce moins
                        préoccupante par UICN et pourtant le chiffre de ma population baisse dans ma régien dans les Alpes.
                        Aide moi a agir.<a href="images/SaveTheLynx.png">Domaines</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ===============services section start ==============-->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">
                Ma situation</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">
                            Territoire de départ
                        </div>
                        <p>
                            L’Auvergne Rhône-Alpes est notre térritoire de base.Notre équipe se concentre sur la protection du Lynx.
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="text">
                            Danger d’extinction
                        </div>
                        <p>
                            Dans les alpes entre 14 et 22 individus dans les Alpes,de 2017 à nos jours 17 morts de Lynx en France </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">
                            Accidents de route
                        </div>
                        <p>
                            Les principales causes des morts du lynx de Boréal dans les Alpes se situent au niveau des accidents routiers en majorité </p>
                    </div></div></div></div></div>
    </section>

    <!-- ==============skills section start================== -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">
                Mindmap</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">
                        Mindmap de soutenance</div>
                    <p>
                        Nous avons une map sous dessous pour pour nous accompagner dans notre démarche de présentation. </p>
                    <a href="https://devinci.sharepoint.com/sites/msteams_1e405d-Groupe25-Equipe217/_layouts/15/guestaccess.aspx?guestaccesstoken=nVfSlqQtxzl%2FnGWxPyc1GisSsRRK8iTmq9P6WuTdmhY%3D&docid=2_0bc26719687794d1a9b8dcf1e269eb677&rev=1&e=dW5GRg">Mindmap</a>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>Alexandre</span>
                            <span>campagne de communication</span>
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Titouan</span>
                            <span>Territoire choisi</span>
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Eric</span>
                            <span>Le choix d’un enjeu biodiversité</span>
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Sara</span>
                            <span>Solutions (dejà existante)</span>
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Dimitri</span>
                            <span>Solutions (les notres)</span>
                        </div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Samanta</span>
                            <span>Indentification des parties prenantes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ================team section start =================-->
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">
                Notre équipe</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="images/Screenshot 2023-03-11 000228.png" alt="">
                        <div class="text">
                            SARA </div>
                        <p>
                            Etudiante  ANNEE 2 IIM Coding.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/Samanta.png" alt="">
                        <div class="text">
                            SAMANTA</div>
                        <p>
                            Etudiante ANNEE 2 EMLV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/James.png" alt="">
                        <div class="text">
                            ALEXANDRE</div>
                        <p>
                            Etudiant ANNEE 2 ESILV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/Titouan.png" alt="">
                        <div class="text">
                            TITOUAN</div>
                        <p>
                            Etudiante ANNEE 2 EMLV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/Screenshot 2023-03-11 000228.png" alt="">
                        <div class="text">
                            DIMITRI</div>
                        <p>
                            Etudiant ANNEE 2 ESILV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/Eric.png" alt="" >
                        <div class="text">
                            ERIC</div>
                        <p>
                            Etudiant ANNEE 2 ESILV .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="images/@after-appear=" alt="">
                        <div class="text">
                            Equipe</div>
                        <p>
                            l'équipe au grand complet</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============contact section start================ -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">
                Contactez nous</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">
                        Donnez nous votre avis</div>
                    <p>
                        Avez vous des questions?
                        voulez vous avoir plus d'informations sur cette cause.
                        Laissez un message pour nous laisser savoir votre pensée.</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">
                                    Nom</div>
                                <div class="sub-title">
                                    Titouan</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">
                                    Address</div>
                                <div class="sub-title">
                                    Paris, France</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">
                                    Email</div>
                                <div class="sub-title">
                                    titouan.mathieu@edu.devinci.fr</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text">
                        Envoyez nous un mail</div>
                    <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <changeit cols="30" rows="10" placeholder="Message.." required></changeit>
                        </div>
                        <div class="button">
                            <button type="submit">Soumettre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- footer section start -->
    <footer>
        <span>Created By <a href="#">Sarayeo</a>| <span class="far fa-copyright"></span> 2023.</span>
    </footer>

{% endblock %}
