{% extends 'base.html.twig' %}
{% block title %}Domaines{% endblock %}
{% block body %}
<style>
    *{
        font-family: 'Ubuntu', sans-serif;

    }
    main{
        background-image: url("public/assets/image/background.png");

    }

    section{
        display: flex;
        flex-direction: column;
    }

    .global-cards{
        width: 100%;
        padding-left: 90px;
        padding-right: 10px;
        padding-top: 40px;
        background-color: #B8D3B0;
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        width: 350px;
        height: 400px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-title{
        padding: 15px;
        width: 350px;
        background: #03312E;
        color: #F0F6F6;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        text-align: center;
    }

    .card-img{
        border-right: #03312E 10px solid;
        border-left: #03312E 10px solid;

    }
    .card-link{
        padding: 15px;
        width: 350px;
        background: #03312E;
        color: #F0F6F6;
        border-bottom-left-radius: 50px ;
        border-bottom-right-radius: 50px ;
        text-align: center;
    }
    .domaine-pres {
        display: flex;
        flex-direction: column;
        font-family: 'Ubuntu', sans-serif;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px;
    }
    .text-2{
        font-size: 50px;
    }
    .text-3{
        font-size: 22px;
    }

</style>
<main>
    <section>
        <div class="domaine-pres">
            <h1 class="text-2">Domaines de ski</h1>
            <p class="text-3">
                Bienvenue sur la page des domaines de skis
            </p>
        </div>
        <div class="global-cards">
            {% for domaines in domaine  %}
                <div class="card">
                    <h3 class="card-title">{{ domaines.name }}</h3>
                    <img src="/uploads/{{ domaines.image }}" alt="image de la station" width="350" height="266" class="card-img">
                    <a href="{{ path('app_Station',{'id': domaines.id}) }}" class="card-link" >voir la station</a>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}
